<!doctype html>
<head>
<link href="{{url_for('static',filename='css/main.css')}}" rel="stylesheet">
</head>
</head>
<title>Python Flask Multiple Files Upload Example</title>
<body>
  <div class="flex items-center justify-center h-screen bg-slate-200">
    <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    <h1 class="text-2xl mb-4">Upload Training Set</h2>
    <h3 class="text-l mb-2">Select file(s) to upload</h2>
    <p class="">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="flashes text-white font-bold text-l py-2 px-4 bg-red mb-2">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}
      {% endwith %}
    </p>
    <form class="" method="post" action="/" enctype="multipart/form-data">
        <label class="text-gray-700 text-sm font-bold" for="fname">First name:</label><br>
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-4" type="text" id="fname" name="fname" value="Max"><br>
        <label class="text-gray-700 text-sm font-bold" for="lname">Last name:</label><br>
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-4" type="text" id="lname" name="lname" value="Patterman"><br><br>
        <dl>
        <p>
          <input class="block w-full text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" type="file" name="files[]" multiple="true" autocomplete="off" required>
        </p>
        </dl>
        <p>
        <input class="my-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline cursor-pointer" type="submit" value="Submit">
      </p>
    </form>
    </div>
  </div>
</body>
